<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Booking API Test Suite">
    <test name="All Tests">
        <classes>
            <class name="RequestsAssertions.CreateBooking"/>
            <class name="RequestsAssertions.deleteBooking"/>
            <class name="RequestsAssertions.GetBookingByID"/>
            <class name="RequestsAssertions.GetBookingIDs"/>
            <class name="RequestsAssertions.GetToken"/>
            <class name="RequestsAssertions.patchBooking"/>
            <class name="RequestsAssertions.PingTest"/>
            <class name="RequestsAssertions.updateBooking"/>
        </classes>
    </test>
</suite>
